<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="{{ '/' | relative_url}}">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="{{ '/contact' | relative_url}}">Contact</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="{{'/oss'| relative_url}}">Opensource Licenses</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
