<script src="{{'/js/kakao.min.js' | relative_url}}"></script>
<script>
    Kakao.init('e559db8b646d33b7dbcbfefd00e06150');
    Kakao.isInitialized();
</script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v7.0&appId=297066384772466&autoLogAppEvents=1" nonce="P79MctAZ"></script>

<script>
    $('.btn-social-share-facebook').click(function(evt){
        evt.preventDefault();
        FB.ui({
            method: 'share',
            href: '{{site.baseUrl}}{{relative_url}}',
        }, function(response){});
    })
    $('.btn-social-share-kakaotalk').click(function(evt){
        evt.preventDefault();
        Kakao.Link.sendDefault({
            objectType: 'feed',
            content: {
                title: "똥그리버스",
                description: "제주도를 위해 만들어진 버스앱",
                imageUrl: '{{site.baseUrl}}{{relative_url}}/img/icon.png',
                link: {
                    webUrl: "{{site.baseUrl}}{{relative_url}}",
                    mobileWebUrl: "{{site.baseUrl}}{{relative_url}}",
                }
            }
        });
    })
</script>




